<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

<!-- 注解自动扫描 -->
    <context:component-scan base-package="net.logvv.papercuphone" />

    <!-- 默认的注解映射的支持 -->
    <!-- JSR-303 support will be detected on classpath and enabled automatically -->
    <mvc:annotation-driven />

    <bean id="springContextHolder" class="net.logvv.papercuphone.common.spring.SpringContextHolder"
          lazy-init="false">
    </bean>

    <!-- 将多个配置文件读取到容器中，交给Spring管理 -->
    <bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:application.properties</value>
                <value>classpath:rabbitmq.properties</value>
            </list>
        </property>
    </bean>

    <!-- Rest配置文件 -->
    <import resource="spring-rest-parameter-config.xml" />

    <!-- RabbitMQ配置 -->
    <import resource="spring-mq.xml" />


    <!-- 配置线程池 -->
    <bean id="taskExecutor"
          class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor" >
        <!-- 线程池维护线程的最少数量 -->
        <property name="corePoolSize" value="5" />
        <!-- 线程池维护线程所允许的空闲时间 -->
        <property name="keepAliveSeconds" value="30000" />
        <!-- 线程池维护线程的最大数量 -->
        <property name="maxPoolSize" value="50" />
        <!-- 线程池所使用的缓冲队列 -->
        <property name="queueCapacity" value="200" />
    </bean>

</beans>